* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  height: 100%;
}

html {
  background-color: lightgray;
}

header{
  text-align: center;
  padding: 10px;
  height: 6vh;
  width: 100%;
  background-color: rgb(150, 149, 149);
}
