* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

html {
  background-color: rgb(255, 255, 255);
}

body header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background-color: rgb(150, 149, 149);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

body header img {
  width: 4.5vh;
}

body header nav {
  display: flex;
}

body header nav a {
  padding: 7px;
  text-decoration: none;
  font-size: 2.2vh;
  color: black;
}

body header .logo {
  font-family: Calibri;
  font-size: 3vh;
}

body header a {
  text-decoration: none;
 
}

body header nav a:hover {
  color: blue;
}

body .container .square {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  animation: animation_square 2.5s;
  padding: 20px;
  padding-bottom: -10vh;
  transform: scale(1);
  margin-top: -10vh;
  margin-bottom: -5vh;
  width: 22%;
  height: 43%;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s ease, transform 0.5s ease;
}

header nav .border{ 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgb(255, 255, 255);
  border-radius: 10px;
  margin-left: 3vh;
  width: 120px;
  height: 30px;
}

body .container .square .link{
  display: flex;
  background-color: rgb(224, 224, 224);
  height: 35px;
  width: 120px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

body .container .square .link:hover{
  background-color: rgb(187, 187, 187);
}

body .container .square .link a{
  color: black;
}

body .container .square:hover {
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.03);
}

body .container {
  margin-top: 9vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

body .square h1 {
  text-align: center;
  font-size: 15px;
}

body .container .square a {
  text-decoration: none;
  font-size: 15px;
}

body .container .square {
  margin: 50px; 
}

@media screen and (max-width: 600px) {
    body .container .square{
      height: 55vh;
      width: 58vh;
      margin-bottom: 3vh;
    }

    body .container{
      height: 90%;
    }

    body .container .square h1{
      font-size: 10px;
    }

    body .container .square p{
      font-size: 10px;
    }

    body header nav .border{
      width: 50px;
      height: 25px;
    }

    body header nav .border a{
      font-size: 8px;
    }

    body header{
      height: 8vh;
    }

    body .container .square .link a{
      font-size: 10px;
    }

    body header {
      padding: 10px;
    }

    body .container .square .link{
      height: 30px;
      width: 80px;
    }
}



